.about-us {
  margin-bottom: 58px;
}

.about:before {
  content: "";
  display: block;
  width: 488px;
  height: 502px;
  background: url("../../images/gates.png") top 0px right -26px/ 116% no-repeat;
  border-radius: 6px;
}

.about {
  display: flex;
}

.about__content {
  background: url("../../images/mountains.png") right top/ 129% no-repeat;
  background-color: #ffffff;
  padding: 69px 209px 61px 75px;
  display: inline-block;
  vertical-align: top;
  max-width: 785px;
  min-height: 454px;
  margin-left: -135px;
  margin-top: 96px;
  border-radius: 6px;
  position: relative;
}

.about__content:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff7d;
  border-radius: 6px;
}

.about__title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 29px;
  position: relative;
}

.about__text {
  color: #000000;
  margin-bottom: 45px;
  line-height: 27px;
  position: relative;
}

.about__text p {
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}
